@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #151515 url("../images/bg.png") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
  padding: 170px 30px 80px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub {
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding: 80px 30px;
  background-color: #151515;
  color: #fff;
}

/* --------------------------------
 * interest
 * -------------------------------- */
.interest {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

/* skill graph */
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}
.graph-cont {
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: #34495e;
}
.bar {
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after {
  content: "";
  background: #2ecc71;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after {
  max-width: 60%;
}
.bar2::after {
  max-width: 72%;
}
.bar3::after {
  max-width: 47%;
}
.bar4::after {
  max-width: 20%;
}

.how-cont {
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
code {
  padding: 5px;
  background: #ecf0f1;
  display: block;
}
pre {
  padding: 0;
  margin: 0;
}
