@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #151515 url("../images/bg.png") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
  padding: 170px 30px 80px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub {
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

/* --------------------------------
 * SNS
 * -------------------------------- */
.sns {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding: 80px 30px;
  /* background-color: #fff; */
  /* color: #333; */
}

/* --------------------------------
 * address
 * -------------------------------- */
.address {
  padding: 80px 30px;
  color: #fff;
}

/* --------------------------------
 * Interest
 * -------------------------------- */
.interest {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

/* skill graph */
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}
.bar {
  height: 30px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  /* padding: 0 0 0 40px; */
  position: relative;
}
.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #151515;
}
.bar::after {
  content: "";
  background: #0000ff;
  height: 30px;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after {
  max-width: 70%;
}
.bar2::after {
  max-width: 60%;
}
.bar3::after {
  max-width: 50%;
}
.bar4::after {
  max-width: 40%;
}

a:visited {
  color: inherit;
}

.content {
  padding: 10px;
}
